
  <li class="product-card__list" data-productid={{_id}}>

            <div class="product-card__image">
            <img src="" alt="item" width="281px"  height= "465px" class="product-card__image__main">
            <div class="product-card__image__secondary">
           {{#each imageUrls}}
                <img src={{this}} class="image__secondary__list" data-id={{@index}} width="52px" height="56px" alt="">
             {{/each}}
             </div>
              </div>

            <div class="product-card__info" >
             <div class="product-card__title">
                <h3 class="product-card__title__name">{{title}}</h3>
                <p class="product-card__code">Код товару | 105-С</p>
            </div>
            <p class="product-card__price">{{price}} €</p>
            <button class="product-card__btn" type="button">Информация о продавце </button>
        <div class="product-card__user__settings">
                <div class="product-card__favorite">
                <!--<span class="product-card__favorite title">В избранное</span>
                 <img src="../img/Vector.jpg" class="icon-favorite" width="14px" height="14px" alt="">
                <div class="favor-input">
    <input type="checkbox" value="1" id="btnfavorite" name="checkbox">
    <label for="btnfavorite" class="js-favorite">
      <div class="favor-input" data-id={{id}}>-->
  <svg  class= "name" data-id={{_id}}  version="1.1"  xmlns="http://www.w3.org/2000/svg" width="82" height="13" viewBox="0 0 82 13">
        <title></title>
        <path
          d="M5.24 5.68C5.864 5.784 6.332 6.012 6.644 6.364C6.964 6.716 7.124 7.184 7.124 7.768C7.124 8.488 6.872 9.04 6.368 9.424C5.864 9.808 5.116 10 4.124 10H0.512V1.6H3.896C4.776 1.6 5.46 1.784 5.948 2.152C6.444 2.52 6.692 3.048 6.692 3.736C6.692 4.224 6.564 4.632 6.308 4.96C6.052 5.288 5.696 5.528 5.24 5.68ZM1.124 5.488H3.884C4.588 5.488 5.128 5.344 5.504 5.056C5.88 4.768 6.068 4.352 6.068 3.808C6.068 3.256 5.88 2.836 5.504 2.548C5.128 2.26 4.588 2.116 3.884 2.116H1.124V5.488ZM4.136 9.484C5.72 9.484 6.512 8.9 6.512 7.732C6.512 7.132 6.312 6.692 5.912 6.412C5.512 6.132 4.92 5.992 4.136 5.992H1.124V9.484H4.136ZM12.858 3.736H13.458V9.076L17.922 3.736H18.45V10H17.85V4.66L13.386 10H12.858V3.736ZM23.8974 6.736C24.3614 6.824 24.7174 7 24.9654 7.264C25.2214 7.52 25.3494 7.836 25.3494 8.212C25.3494 8.58 25.2254 8.904 24.9774 9.184C24.7374 9.464 24.4094 9.68 23.9934 9.832C23.5774 9.984 23.1254 10.06 22.6374 10.06C22.1894 10.06 21.7494 9.992 21.3174 9.856C20.8934 9.712 20.5214 9.508 20.2014 9.244L20.4414 8.8C20.7214 9.04 21.0534 9.224 21.4374 9.352C21.8294 9.48 22.2254 9.544 22.6254 9.544C23.2174 9.544 23.7174 9.42 24.1254 9.172C24.5334 8.916 24.7374 8.58 24.7374 8.164C24.7374 7.796 24.5654 7.508 24.2214 7.3C23.8854 7.084 23.4294 6.976 22.8534 6.976H21.8454V6.52H22.8294C23.3334 6.52 23.7454 6.42 24.0654 6.22C24.3934 6.02 24.5574 5.752 24.5574 5.416C24.5574 5.024 24.3774 4.724 24.0174 4.516C23.6654 4.3 23.2134 4.192 22.6614 4.192C21.9574 4.192 21.2934 4.372 20.6694 4.732L20.4894 4.252C21.1934 3.86 21.9414 3.664 22.7334 3.664C23.4294 3.664 24.0094 3.816 24.4734 4.12C24.9374 4.416 25.1694 4.82 25.1694 5.332C25.1694 5.66 25.0534 5.948 24.8214 6.196C24.5894 6.444 24.2814 6.624 23.8974 6.736ZM30.5858 3.832C31.1698 3.832 31.6858 3.964 32.1338 4.228C32.5898 4.484 32.9458 4.844 33.2018 5.308C33.4578 5.772 33.5858 6.308 33.5858 6.916C33.5858 7.524 33.4538 8.068 33.1898 8.548C32.9338 9.02 32.5698 9.392 32.0978 9.664C31.6338 9.928 31.1018 10.06 30.5018 10.06C29.8138 10.06 29.2258 9.892 28.7378 9.556C28.2578 9.22 27.8898 8.744 27.6338 8.128C27.3858 7.512 27.2618 6.792 27.2618 5.968C27.2618 5.032 27.3738 4.256 27.5978 3.64C27.8298 3.024 28.1738 2.54 28.6298 2.188C29.0938 1.828 29.6858 1.56 30.4058 1.384L33.1778 0.711999L33.2738 1.276L30.6338 1.9C29.9858 2.052 29.4578 2.276 29.0498 2.572C28.6498 2.86 28.3498 3.256 28.1498 3.76C27.9498 4.264 27.8458 4.908 27.8378 5.692C28.0458 5.116 28.3938 4.664 28.8818 4.336C29.3698 4 29.9378 3.832 30.5858 3.832ZM30.5138 9.544C30.9858 9.544 31.4098 9.432 31.7858 9.208C32.1618 8.984 32.4538 8.676 32.6618 8.284C32.8698 7.884 32.9738 7.432 32.9738 6.928C32.9738 6.424 32.8698 5.98 32.6618 5.596C32.4538 5.204 32.1618 4.904 31.7858 4.696C31.4178 4.48 30.9938 4.372 30.5138 4.372C30.0338 4.372 29.6058 4.48 29.2298 4.696C28.8538 4.904 28.5618 5.204 28.3538 5.596C28.1458 5.98 28.0418 6.424 28.0418 6.928C28.0418 7.432 28.1458 7.884 28.3538 8.284C28.5618 8.676 28.8538 8.984 29.2298 9.208C29.6058 9.432 30.0338 9.544 30.5138 9.544ZM38.9528 3.688C39.5368 3.688 40.0648 3.824 40.5368 4.096C41.0088 4.368 41.3768 4.744 41.6408 5.224C41.9128 5.704 42.0488 6.252 42.0488 6.868C42.0488 7.484 41.9128 8.036 41.6408 8.524C41.3768 9.004 41.0088 9.38 40.5368 9.652C40.0648 9.916 39.5368 10.048 38.9528 10.048C38.4008 10.048 37.9008 9.92 37.4528 9.664C37.0048 9.4 36.6568 9.036 36.4088 8.572V12.328H35.8088V3.736H36.3848V5.212C36.6328 4.732 36.9808 4.36 37.4288 4.096C37.8848 3.824 38.3928 3.688 38.9528 3.688ZM38.9168 9.508C39.3968 9.508 39.8288 9.396 40.2128 9.172C40.5968 8.948 40.8968 8.636 41.1128 8.236C41.3368 7.836 41.4488 7.38 41.4488 6.868C41.4488 6.356 41.3368 5.9 41.1128 5.5C40.8968 5.1 40.5968 4.788 40.2128 4.564C39.8288 4.34 39.3968 4.228 38.9168 4.228C38.4368 4.228 38.0048 4.34 37.6208 4.564C37.2448 4.788 36.9448 5.1 36.7208 5.5C36.5048 5.9 36.3968 6.356 36.3968 6.868C36.3968 7.38 36.5048 7.836 36.7208 8.236C36.9448 8.636 37.2448 8.948 37.6208 9.172C38.0048 9.396 38.4368 9.508 38.9168 9.508ZM46.2925 3.688C47.0685 3.688 47.6645 3.888 48.0805 4.288C48.4965 4.68 48.7045 5.26 48.7045 6.028V10H48.1285V8.884C47.9285 9.252 47.6365 9.54 47.2525 9.748C46.8685 9.948 46.4085 10.048 45.8725 10.048C45.1765 10.048 44.6245 9.884 44.2165 9.556C43.8165 9.228 43.6165 8.796 43.6165 8.26C43.6165 7.74 43.8005 7.32 44.1685 7C44.5445 6.672 45.1405 6.508 45.9565 6.508H48.1045V6.004C48.1045 5.42 47.9445 4.976 47.6245 4.672C47.3125 4.368 46.8525 4.216 46.2445 4.216C45.8285 4.216 45.4285 4.288 45.0445 4.432C44.6685 4.576 44.3485 4.768 44.0845 5.008L43.7845 4.576C44.0965 4.296 44.4725 4.08 44.9125 3.928C45.3525 3.768 45.8125 3.688 46.2925 3.688ZM45.9565 9.556C46.4765 9.556 46.9165 9.436 47.2765 9.196C47.6445 8.956 47.9205 8.608 48.1045 8.152V6.976H45.9685C45.3525 6.976 44.9045 7.088 44.6245 7.312C44.3525 7.536 44.2165 7.844 44.2165 8.236C44.2165 8.644 44.3685 8.968 44.6725 9.208C44.9765 9.44 45.4045 9.556 45.9565 9.556ZM51.3823 3.736H51.9823V6.592H56.2303V3.736H56.8303V10H56.2303V7.12H51.9823V10H51.3823V3.736ZM59.6613 3.736H60.2613V6.592H64.5093V3.736H65.1093V10H64.5093V7.12H60.2613V10H59.6613V3.736ZM70.4364 10.048C69.8444 10.048 69.3084 9.912 68.8284 9.64C68.3564 9.368 67.9844 8.992 67.7124 8.512C67.4404 8.024 67.3044 7.476 67.3044 6.868C67.3044 6.26 67.4404 5.716 67.7124 5.236C67.9844 4.748 68.3564 4.368 68.8284 4.096C69.3084 3.824 69.8444 3.688 70.4364 3.688C71.0284 3.688 71.5604 3.824 72.0324 4.096C72.5124 4.368 72.8884 4.748 73.1604 5.236C73.4324 5.716 73.5684 6.26 73.5684 6.868C73.5684 7.476 73.4324 8.024 73.1604 8.512C72.8884 8.992 72.5124 9.368 72.0324 9.64C71.5604 9.912 71.0284 10.048 70.4364 10.048ZM70.4364 9.508C70.9164 9.508 71.3444 9.396 71.7204 9.172C72.1044 8.948 72.4044 8.636 72.6204 8.236C72.8444 7.836 72.9564 7.38 72.9564 6.868C72.9564 6.356 72.8444 5.9 72.6204 5.5C72.4044 5.1 72.1044 4.788 71.7204 4.564C71.3444 4.34 70.9164 4.228 70.4364 4.228C69.9564 4.228 69.5244 4.34 69.1404 4.564C68.7644 4.788 68.4644 5.1 68.2404 5.5C68.0244 5.9 67.9164 6.356 67.9164 6.868C67.9164 7.38 68.0244 7.836 68.2404 8.236C68.4644 8.636 68.7644 8.948 69.1404 9.172C69.5244 9.396 69.9564 9.508 70.4364 9.508ZM81.1024 7.012H75.7144C75.7304 7.5 75.8544 7.936 76.0864 8.32C76.3184 8.696 76.6304 8.988 77.0224 9.196C77.4224 9.404 77.8704 9.508 78.3664 9.508C78.7744 9.508 79.1504 9.436 79.4944 9.292C79.8464 9.14 80.1384 8.92 80.3704 8.632L80.7184 9.028C80.4464 9.356 80.1024 9.608 79.6864 9.784C79.2784 9.96 78.8344 10.048 78.3544 10.048C77.7304 10.048 77.1744 9.912 76.6864 9.64C76.1984 9.368 75.8144 8.992 75.5344 8.512C75.2624 8.032 75.1264 7.484 75.1264 6.868C75.1264 6.26 75.2544 5.716 75.5104 5.236C75.7744 4.748 76.1344 4.368 76.5904 4.096C77.0464 3.824 77.5584 3.688 78.1264 3.688C78.6944 3.688 79.2024 3.824 79.6504 4.096C80.1064 4.36 80.4624 4.732 80.7184 5.212C80.9824 5.692 81.1144 6.236 81.1144 6.844L81.1024 7.012ZM78.1264 4.216C77.6864 4.216 77.2904 4.316 76.9384 4.516C76.5864 4.708 76.3024 4.984 76.0864 5.344C75.8784 5.696 75.7584 6.096 75.7264 6.544H80.5264C80.5024 6.096 80.3824 5.696 80.1664 5.344C79.9504 4.992 79.6664 4.716 79.3144 4.516C78.9624 4.316 78.5664 4.216 78.1264 4.216Z">
        </path>
      </svg>

      <svg  class= "heart icon" data-id={{_id}}  version="1.1"  xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 37 32">
        <title>icon-favorite</title>
        <path
          d="M18.286 29.714c-0.456 0-0.895-0.159-1.237-0.448-1.293-1.089-2.539-2.112-3.639-3.015l-0.006-0.005c-3.224-2.647-6.008-4.933-7.945-7.184-2.165-2.517-3.174-4.904-3.174-7.511 0-2.533 0.902-4.87 2.539-6.581 1.656-1.731 3.929-2.684 6.401-2.684 1.847 0 3.539 0.563 5.028 1.672 0.751 0.56 1.433 1.245 2.033 2.045 0.6-0.799 1.281-1.485 2.033-2.045 1.489-1.11 3.181-1.672 5.028-1.672 2.471 0 4.744 0.953 6.401 2.684 1.637 1.711 2.538 4.048 2.538 6.581 0 2.607-1.008 4.994-3.174 7.511-1.937 2.252-4.721 4.538-7.944 7.184-1.102 0.904-2.35 1.929-3.645 3.021-0.342 0.288-0.782 0.447-1.237 0.447zM11.225 4.092c-1.942 0-3.725 0.747-5.023 2.102-1.317 1.376-2.042 3.279-2.042 5.357 0 2.193 0.846 4.154 2.743 6.359 1.833 2.131 4.56 4.37 7.717 6.962l0.006 0.005c1.104 0.906 2.355 1.934 3.657 3.031 1.31-1.099 2.563-2.128 3.669-3.036 3.157-2.592 5.883-4.831 7.717-6.962 1.896-2.205 2.742-4.166 2.742-6.359 0-2.078-0.725-3.981-2.042-5.357-1.297-1.356-3.081-2.102-5.023-2.102-1.422 0-2.728 0.436-3.881 1.295-1.028 0.766-1.743 1.734-2.163 2.411-0.216 0.348-0.596 0.556-1.016 0.556s-0.801-0.208-1.016-0.556c-0.419-0.677-1.135-1.646-2.163-2.411-1.153-0.859-2.459-1.295-3.881-1.295z">
        </path>
      </svg>



  </div>
            <div class="product-card__share" >
                <span class="product-card__share title">Поделиться</span>
               <!-- <svg width= 14.77px height= 16px class="icon-favorite">-->
                <svg class= "icon" version="1.1"  xmlns="http://www.w3.org/2000/svg" width="14.77" height="16" viewBox="0 0 32 32">
        <title>icon-share</title>
        <path
          d="M25.436 21.333c-1.623 0-3.079 0.73-4.058 1.878l-9.632-5.955c0.098-0.403 0.151-0.824 0.151-1.256s-0.053-0.853-0.151-1.256l9.632-5.955c0.979 1.148 2.434 1.878 4.058 1.878 2.941 0 5.333-2.393 5.333-5.333s-2.393-5.333-5.333-5.333-5.333 2.393-5.333 5.333c0 0.433 0.053 0.853 0.151 1.256l-9.632 5.955c-0.979-1.148-2.434-1.878-4.058-1.878-2.941 0-5.333 2.393-5.333 5.333s2.393 5.333 5.333 5.333c1.624 0 3.079-0.73 4.058-1.878l9.631 5.955c-0.098 0.403-0.151 0.824-0.151 1.256 0 2.941 2.392 5.333 5.333 5.333s5.333-2.393 5.333-5.333c0-2.941-2.393-5.333-5.333-5.333zM25.436 2.462c1.584 0 2.872 1.288 2.872 2.872s-1.288 2.872-2.872 2.872c-1.583 0-2.872-1.288-2.872-2.872s1.288-2.872 2.872-2.872zM6.564 18.872c-1.583 0-2.872-1.288-2.872-2.872s1.288-2.872 2.872-2.872c1.583 0 2.872 1.288 2.872 2.872s-1.288 2.872-2.872 2.872zM25.436 29.538c-1.583 0-2.872-1.288-2.872-2.872s1.288-2.872 2.872-2.872c1.584 0 2.872 1.288 2.872 2.872s-1.288 2.872-2.872 2.872z">
        </path>
      </svg>
            </div>
        </div>
            <p class="product-card__description__title title">Описание</p>
            <p class="product-card__description title"> {{description}}</p>
            </div>
        </li>

